body {
    font-family: 'Verdana', 'Arial', sans-serif;
    background-color: lightpink;
    font-size: 16px;
}

h1 {
    font-size: 90px;
    margin: 30px;
}

h2 {
    font-size: 50px;
}

h1, h2 {
    text-align: center;
    font-weight: 900;
    color: indigo;
}

.link {
    text-align: center;
    font-size: 40px;
    list-style-position: inside;
    list-style-type: none;
    margin: 10px;
}

.links {
    padding-left: 0px;
    margin: 100px auto 50px;
    border: 2px indigo solid;
    width: 600px;
    height: 185px;
}

a {
    color:brown;
}

h3 {
    color: crimson;
    font-weight: bold;
    font-size: 24px;
}

img {
    margin: auto;
    display: block;
}

.home_image {
    width: 800px;
    height: auto;
    margin: auto;
}